:global {
    mwc-drawer mwc-top-app-bar-fixed {
        --mdc-top-app-bar-fixed-box-shadow: none;
        --mdc-theme-primary: transparent;
        mwc-button,
        mwc-textfield,
        mwc-textarea,
        mwc-list,
        mwc-menu,
        mwc-select,
        mwc-linear-progress,
        mwc-circular-progress,
        mwc-circular-progress-four-color {
            --mdc-theme-primary: #6200ee;
        }
    }
    pre {
        padding: 2rem;
        background: #f5f5f5;
    }
    .jumbotron {
        margin-top: -4.2rem;
        padding: 6rem 3rem 3rem;
        background: url(https://daemonite.github.io/material/docs/images/doc-jumbotron-bg.jpg);
        background-size: cover;
        color: white;
        h1 {
            font-size: 4rem;
        }
    }
}
